<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chajiu.bangbangbe.Mapper.AddressMapper">
    <resultMap id="AddressMapperMap" type="com.chajiu.bangbangbe.entity.Address">
        <id column="id" property="id" ></id>
        <result column="open_id" property="openId" ></result>
        <result column="address" property="address" ></result>
        <result column="phone" property="phone" ></result>
        <result column="addressee" property="addressee" ></result>
    </resultMap>

    <select id="selectById" resultMap="AddressMapperMap" >
        select * from address where id=#{id}
    </select>
    <select id="selectByOpenId" resultMap="AddressMapperMap">
        select * from address where open_id=#{openId}
    </select>
    <update id="updateById">
        update address
        <set>
            <if test="address!=null">
                address=#{address},
            </if>
            <if test="openId!=null">
                open_id=#{openId},
            </if>
            <if test="phone != null">
                phone=#{phone},
            </if>
            <if test="addressee != null">
                addressee=#{addressee}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteById" parameterType="int">
        delete from address where id=#{id}
    </delete>
    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        insert into address(open_id,address,phone,addressee) values(#{openId},#{address},#{phone},#{addressee})
    </insert>
</mapper>