<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chajiu.bangbangbe.Mapper.SessionMapper">
    <insert id="add" parameterType="Session">
        insert into session(open_id,session_key,skey,last_login_time) values(#{openId},#{sessionKey},#{skey},#{lastLoginTime})
    </insert>
    <update id="update"  parameterType="Session">
        update session set session_key=#{sessionKey}, skey=#{skey}, last_login_time=#{lastLoginTime} where open_id=#{openId}
    </update>
    <select id="exist" resultType="int">
        select count(*) from session where open_id=#{openid}
    </select>
    <select id="findOpenid" resultType="string">
        select open_id from session where skey=#{skey}
    </select>
</mapper>